.slide{
    &__img{
        width: 800px;
    }
    &__buttonbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
    }
    &__btn{
        background: rgba(6,60,27,1);
        stroke: none;
        outline: none;
        border: none;
        padding: 20px;
        border-radius: 40px;
        transition: all ease 0.23s;
        &:hover{
            background:rgb(4, 184, 73) ;
            color: black
        }
    }
    &__icons{
        font-size: 20px;
        color: white;
    }
    @media (max-width: 475px) {

        &__img{
            width: 350px;
        }
    }
}